* {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS";
    font-size: 90px;
    /* pixel-size = 2.8125 x point-size-in-OpenSong */
    font-weight: bold;
    text-align: center;
}

body div {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#parent {
    position: relative;
    padding: 0;
    margin: 0;
}

#texts {
    text-align: center;
    margin: 50vh auto 0;
    transform: translateY(-50%);
}

.greenscreen {
    margin: 0;
    padding: 0;
    /* background-color: rgb(0,255,0); */
    /* Option 1: text on a green background. */
    background-color: rgb(0, 255, 0) transparent;
    /* Option 2: text on a transparent background. */
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
}