* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed";
    /* Other good options: Roboto Condensed, Arial, Arial Narrow, Verdana, Helvetica Neue */
    font-size: 90px;
    /* pixel-size = 2.8125 x point-size-in-OpenSong */
    font-weight: bold;
}


#content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 100vh;
}


.greenscreen {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 255, 0) transparent;
    -webkit-text-fill-color: rgb(250, 250, 250);
    /* Slightly off-white */
    -webkit-text-stroke-width: 3.0px;
    /* Thickness of font outline. */
}

img {
    width: 100%;
    height: auto;
}